:root {
    --color-blue-light: #D8DCFF;
    --color-blue-dark:  #AEADF0;
    --color-red-light:  #C38D94;
    --color-red-dark:   #A76571;
    --color-bg:         #565676;

    --anim-dur-fouc:   .25s;
    --anim-dur-intro:  2s;
    --anim-dur-rotate: .5s;
    --anim-dur-expand: 2s;
}
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;

    font-family: "Noto Sans", sans-serif;

    background: var(--color-bg);
}
h1, p, input {
    padding: 0;
    margin: 0;
}

#login {
    display: none;
}
#login.active {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login_cont_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: default;

    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;

    animation-duration: var(--anim-dur-intro);
    animation-delay: var(--anim-dur-fouc);
    animation-fill-mode: backwards;
}
#login_letter {
    color: var(--color-blue-dark);

    animation-name: slide-right, color-letter;
    animation-duration: inherit;
    animation-delay: inherit;
    animation-fill-mode: inherit;
}
#login_place {
    color: var(--color-red-light);

    animation-name: slide-left, color-place;
    animation-duration: inherit;
    animation-delay: inherit;
    animation-fill-mode: inherit;
}
@keyframes slide-left {
    from {padding-left: 64px;}
    to {padding-right: 0;}
}
@keyframes slide-right {
    from {padding-right: 64px;}
    to {padding-right: 0;}
}
@keyframes color-letter {
    from {color: var(--color-bg);}
    to {color: var(--color-blue-dark);}
}
@keyframes color-place {
    from {color: var(--color-bg);}
    to {color: var(--color-red-light);}
}

#login_expand {
    margin-top: 16px;

    font-size: 32px;

    color: var(--color-blue-light);
    cursor: pointer;

    animation: color-login;
    animation-duration: calc(var(--anim-dur-intro) / 2);
    animation-delay: calc(var(--anim-dur-fouc) * 3);
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;

    transition-property: color, transform;
    transition-duration: var(--anim-dur-rotate);
}
#login_expand:hover {
    color: var(--color-blue-dark);
}
#login_expand.expand {
    transform: rotate(0.5turn);
}
@keyframes color-login {
    from {color: var(--color-bg);}
    to {color: var(--color-blue-light);}
}

#login_cont_cred {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login_cont_cred label {
    margin-top: 16px;

    align-self: end;

    font-size: 24px;

    color: var(--color-blue-light);
}
#login_cont_cred input {
    width: 200px;
    border: none;
    border-bottom: 2px solid var(--color-blue-dark);

    font-size: 16px;

    color: var(--color-blue-light);
    background-color: transparent;
    outline: none;

    transition: border-bottom;
    transition-duration: 1s;
}
#login_cont_cred input[type="button"] {
    width: fit-content;
    border: none;

    color: var(--color-red-light);
    cursor: pointer;
}
#login_cont_cred input::placeholder {
    opacity: 1;

    font-size: 11px;

    color: var(--color-blue-light);
}
#login_cont_cred input.error {
    border-bottom: 2px solid red;
}
#login_cont_login, #login_cont_register {
    max-height: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden; /* Handled in JS */
    opacity: 0;

    transition: max-height, opacity;
    transition-duration: var(--anim-dur-expand);
}
.login_cont_actions {
    align-self: start;

    cursor: default;
}
#login_cont_login.login {
    max-height: 173px;

    opacity: 100;
}
#login_cont_register.register {
    max-height: 323px;

    opacity: 100;
}
